.parent-task .gantt_task_content {
    background-color: #4F89FF;
}

.child-task .gantt_task_content {
    background-color: #FAB44C;
}

.gantt_grid_head_cell[data-column-id='add'] {
    display: none;
}

.gantt_grid_head_cell[data-column-id='text'] {
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
    font-family: 'Roboto', sans-serif;
}

.gantt_tree_content{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #31393C;
}

.gantt_add{
    background-image: url("../../Assets/img/add.svg");
}

.gantt_task_line{
    border-radius: 16px;
}

.gantt_tree{
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gant_close{
    background-image: url("../../Assets/img/close.png");
    width: 18px;
    cursor: pointer;
}

.gant_open{
    background-image: url("../../Assets/img/open.svg");
    width: 18px;
    cursor: pointer;
}

.gantt_scale_cell{
    color: black;
}

.gantt_task_progress_drag{
    display: none;
}

.gantt_link_point{
    display: none;
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(17, 17, 17, 0.5);
    z-index: 4;
}

.my-form{
    display: flex;
    flex-direction: row;
    padding: 24px 24px 32px;
    width: 710px;
    height: 743px;
    background: #F5F7F9;
    border-radius: 5px;
    gap: 16px;
    z-index: 4;
}

.main{
    display: flex;
    flex-direction: column;
}

.closeButton{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.closeButton input{

}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 606px;
    height: 20%;
    gap: 4px;
}

.title input{
    background: #FFFFFF;
    width: 606px;
    height: 36px;
    border: 1px solid #AFBAC3;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px 10px 8px 8px;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 184px;
    height: 20%;
}
.project input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;

    width: 184px;
    height: 32px;

    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;
}

.elements{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 606px;
    height: 20%;
}

.element{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 184px;
    height: 52px;
    font-size: 14px;
}

.element input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;

    width: 184px;
    height: 32px;

    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;
}

.date{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    font-size: 14px;
    width: 222px;
    height: 52px;
}

.dateList p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;

    width: 215px;
    height: 32px;

    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;
}

.description{
    width: 606px;
    height: 128px;
}

.description textarea{
    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;
    width: 606px;
    height: 128px;
    padding: 16px;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 392px;
    height: 20%;
}

.nameList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 192px;
    height: 56px;
}

.nameList input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 4px;

    width: 192px;
    height: 32px;

    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;

}

.performers{
    width: 200px;
    height: 20%;
}

.performers input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 4px;

    width: 175px;
    height: 32px;

    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;
}

.check_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 107px;
    height: 20%;
}

.check_list_elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 107px;
    height: 21px;
}

.check_list_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px;
    gap: 10px;

    width: 59px;
    height: 21px;

    background: #FFFFFF;
    /* Basic/Grey */

    border: 1px solid #AFBAC3;
    border-radius: 5px;

}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 228px;
    height: 20%;
    color: white;
}

.save{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    width: 113px;
    height: 32px;

    /* Primary/Blue_7 */

    background: #004CE3;
    border-radius: 5px;
    cursor: pointer;

}

.cancel{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    width: 107px;
    height: 32px;

    /* Basic/Grey */

    background: #AFBAC3;
    border-radius: 5px;
    cursor: pointer;
}

.close{}