.container{
    display: flex;
    width: 90%;
    height: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    height: 10%;
}

.info{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    gap: 20px;
}

.info::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.info::-webkit-scrollbar-thumb {
    background-color: transparent; /* Цвет полосы прокрутки */
    border-radius: 4px; /* Скругление углов полосы прокрутки */
}

.info:hover {
    overflow: auto;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 184px;
    height: 10%;
}

.elements{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 8px;
    height: 10%;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.important{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: 10%;
}

.unimportant{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: 20%;
}

.unimportantTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.unimportantTop button{
    display: flex;
    align-items: center;
}

.unimportantLists{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 608px;
    overflow-y: scroll;
}

.unimportantList{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.checkLists{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 608px;
    overflow-y: scroll;
}

.checklist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: 20%;
}

.checklistTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.checklistTop button{
    display: flex;
    align-items: center;
}

.checkLists{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 608px;
    overflow-y: scroll;
}

.checkList{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 22px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    height: 10%;
    bottom: 0;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.dates{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dates span{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.date{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid #AFBAC3;
    background: #FFF;
    align-items: center;
    width: 224px;
    height: 32px;
    font-size: 14px;
}

.time{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.timer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timerelements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.buttonsform{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.timeElements{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.timeSpent{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.timeSpentElements{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.comments{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.commentsInput{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.commentsInputElements{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.commentsOutput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    height: 100%;
}

.commentsOutputItem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.commentsOutputTitle{}

.commentsOutputName{}


