.board {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.boardTitle{
    font-size: 14px;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 22px;
    align-items: center;
    border-radius: 5px;
    background:  #B1B7BA;
}

.boardItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.item{
    width: 100%;
    height: 140px;
    border: 2px solid lightpink;
    padding: 10px;
    border-radius: 6px;
    margin: 15px 0;
    cursor: grab;
    background-color: white;
}

.itemsWrapper {
    overflow-y: auto;
}
