.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.table {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    z-index: 121;
}

.collapse{
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
}

.titleRow{
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    z-index: 123;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.table td{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}



.table th{
    text-align: center;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: column;
}

.row thead{
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
}

.row td{
    text-align: center;
    border: 1px solid black;
}

.row th{
    text-align: center;
    border: 1px solid black;
}

.date{
    width: 100px;
}

.tableWrapper {
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 7;
}

table {
    width: max-content;
    height: max-content;
    border-collapse: separate;
}

.ganttTable {
    flex-grow: 1;
}

.fixedHeader {
    position: sticky;
    top: 0;
    z-index: 120;
}

.fixedHeader th {
    position: sticky;
    top: 0;
}

.tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
    background-color: white;
    border-top: 1px solid black;
}

.tableMonth {
    font-weight: bold;
}

.tableBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dateCell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    border-right: 1px solid black;
}

.tasksContainer {
    width: 100%;
    height: 100%;
}
