.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.table {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    z-index: 121;
}

.collapse{
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
}

.table td{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.table thead{
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
    z-index: 123;
}



.table th{
    text-align: center;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-direction: column;
}

.row thead{
    position: sticky;
    top: 0;
    background-color: white;
    height: 80px;
}

.row td{
    text-align: center;
    border: 1px solid black;
}

.row th{
    text-align: center;
    border: 1px solid black;
}

.date{
    width: 100px;
}

.tableWrapper {
    height: 100%;
}

table {
    width: max-content;
    height: max-content;
    border-collapse: separate;
}

.ganttTable {
    flex-grow: 1;
}

.fixedHeader {
    position: sticky;
    top: 0;
    z-index: 120;
}

.fixedHeader th {
    position: sticky;
    top: 0;
}

