.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.cellWrapper {
    height: 42px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: 1px solid #AFBAC3;
    border-bottom: 1px solid #AFBAC3;
}

.cell {
    height: 34px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isActiveCellOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}


.cellColor1 {
    background-color: #4f89ff;
}

.cellColor2 {
    background-color: #fab44c;
}

.ganttDateCell {
    font-weight: bold;
}

.startCell {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.endCell {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.middleCell {
    border-radius: 0;
}
