.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 4%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    width: 35%;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #0340BB;
    height: 100%;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    gap: 47px;
    height: 100%;
}

.category button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.activeCategory{
    background: #0340BB;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    width: 100px;
}

.disableCategory{
    background: transparent;
    color: #0340BB;
    width: 100px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 49px;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 4%;
}

.time{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
}

.buttonInfo{
    width: 114px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.time span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.timeButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.timeButton button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--primaryButton);
}

.exit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.taskInfo {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 482px;
    height: 100px;
    left: -150px;
    top: 46px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.taskInfo_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    width: 241px;
}

.taskInfo_left span{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}

.taskInfo_left button{
    width: 201px;
    height: 32px;
    background: #AFBAC3;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    line-height: 32px;
    padding: 0px 16px;
}

.taskInfo_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 16px;
    width: 241px;
}

.taskInfo_time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.save{
    width: 113px;
    height: 32px;
    background: #004CE3;
    border-radius: 5px;
    color: white;
}

.play{
    width: 32px;
    height: 32px;
    background: #004CE3;
    border-radius: 5px;
}

.trash{
    width: 32px;
    height: 32px;
    background: #004CE3;
    border-radius: 5px;
}
