.container{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}


.taskRow {
    cursor: pointer;
}

.collapseButton {
    margin-right: 8px;
}

.collapsed .collapseButton {
    transform: rotate(-90deg);
}

.ganttRow td {
    border: none;
}

.ganttCell {
    height: 10px;
    border-bottom: 2px solid black;
}

.ganttCellActive {
    background-color: blue;
}
