.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}

.kanban{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}
