.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background: var(--elementsBackground);
    padding: 0px 100px;
}

.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    width: 50%;
    height: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    gap: 9px;
    line-height: 28px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    gap: 47px;
}

.category button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.activeCategory{
    background: var(--primaryButtonHover);
    color: white;
}

.disableCategory{
    background: transparent;
    color: black;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 49px;
    align-items: center;
    width: 50%;
    height: 100%;
}

.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
}

.time span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.timeButton{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.timeButton button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--primaryButton);
}

.exit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}