.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.elements{
    width: 100%;
    height: 130px;
}

.gant{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}